/* - Mobile: 375px
- Desktop: 1440px */

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --dark-blue: hsl(218, 44%, 22%);
}

*,
*::before,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  min-height: 100vh;
  background-color: var(--light-gray);
}

.attribution {
  font-size: 11px;
  position: absolute;
  bottom: 20px;
  transform: translateX(-50%);
  left: 50%;
  text-align: center;
}
.attribution a {
  color: var(--dark-blue);
}

p {
  font-size: 15px;
}

.qr-box {
  background-color: var(--white);
  width: 320px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 12px 20px 0px rgba(0, 0, 0, 0.1);
}

.qr-heading {
  font-size: 20px;
  font-weight: 700;
}

.qr-text {
  font-weight: 400;
  opacity: 0.5;
}

.qr-box img {
  width: 100%;
  border-radius: 15px;
}

@media (max-width: 375px) {
  .qr-box {
    width: 250px;
    padding: 12px;
  }

  .qr-heading {
    font-size: 18px;
  }

  .qr-text {
    font-size: 12px;
  }
}
